<div>
    <div class="row">
        <div class="col-md-8">
            <textarea id="code-screen"></textarea>
        </div>
        <div class="col-md-4" id='chatbox'>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    CHAT ROOM
                    <span class="pull-right" id="chatbox-username">
                        {{#if user}}
                        {{user.name}}
                        {{/if}}
                    </span>
                </div>
                <div class="panel-body">
                    <ul class="media-list" style="height: 300px; overflow-y:scroll" id="chatbox-listMessages">
                        {{!-- dynamically display messages in <li></li> --}}
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter message" id="userMessage" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" onclick="sendMessage()">SEND</button>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/javascript/javascript.min.js'></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://localhost:3000')
    var editor = CodeMirror.fromTextArea(document.getElementById("code-screen"), {
        lineNumbers: true,
        theme: "monokai"
    });

    var username = $('#chatbox-username').val();//getting the username 
    if (username === "") {

        var userId = Math.floor(Math.random() * 9999).toString()
        username = "user" + userId;

        $("#chatbox-username").text(username)//setting username if it does not exist
    }

    var userMessage = function (name, text) {
        return ('<li class="media"> <div class="media-body"> <div class="media">' +
            '<div class="media-body">' +
            "<b>" + name + "</b>:" + text +
            "<hr/></div></div></div></li>");
    }
    var sendMessage = function () {
        var userMessage = $('#userMessage').val()
        socket.emit('chatMessage', { message: userMessage, username: username })
        $("#userMessage").val("")//after sending clean the input box
    }
    socket.on('chatMessage', function (data) {
        $("#chatbox-listMessages").append(userMessage(data.username, data.message))
    })

</script>